[colors]
bg = #2e3440
fg = #9fafaf
separator = #262626
active-bg = #88c0d0
active-fg = #3b4252
occupied-bg = #4c566a
urgent-bg = #dc8c6c
urgent-fg = #dcdccc
empty-fg = #4f4f4f
xwindow = #6c6c9c
playing = #8f8f8f
paused = #4f4f4f
vpn-disconnected = #e37170
vpn-connected = #a3be8c
network-disconnected = #e37170
cpu = #6c6c9c
memory = #6c6c9c
memory-warn = #e37170
filesystem = #6c6c9c
filesystem-warn = #e37170
volume = #6c6c9c
date = #5e81ac
time = #81a1c1
charging = #a3be8c
discharging = #8f8f8f
low = #e37170

[bar/base]
monitor = ${env:MONITOR}
width = 100%
height = 20
background = ${colors.bg}
foreground = ${colors.fg}
font-0 = Inconsolata:style=Bold:size=12;2
font-1 = Symbols Nerd Font Mono:style=Bold:size=10;1.5
separator = "|"
separator-foreground = ${colors.separator}

[bar/topbar]
inherit = bar/base
modules-left = ewmh layout xwindow
modules-right = cpu memory filesystem volume date time battery

[bar/bottombar]
inherit = bar/base
bottom = true
modules-center = mpd
modules-right = vpn network tray

[module/ewmh]
type = internal/xworkspaces
label-active = " %name% "
label-active-background = ${colors.active-bg}
label-active-foreground = ${colors.active-fg}
label-occupied = " %name% "
label-occupied-background = ${colors.occupied-bg}
label-urgent = " %name% "
label-urgent-background = ${colors.urgent-bg}
label-urgent-foreground = ${colors.urgent-fg}
label-empty = " %name% "
label-empty-foreground = ${colors.empty-fg}

[module/layout]
type = custom/script
interval = 0.1
label = " %output% "
tail = true
exec = leftwm-state | jq -r .workspaces[0].layout

[module/xwindow]
type = internal/xwindow
label = " %title:0:80:...%"
label-foreground = ${colors.xwindow}

[module/tray]
type = internal/tray
format = <tray>
format-margin = 10px
tray-spacing = 10px

[module/mpd]
type = internal/mpd
host = 127.0.0.1
port = 6600
interval = 2
format-playing-foreground = ${colors.playing}
format-paused-foreground = ${colors.paused}

[module/vpn]
type = internal/network
interface = tun0
unknown-as-up = true

label-disconnected = " vpn not connected "
label-disconnected-foreground = ${colors.vpn-disconnected}
format-disconnected = <label-disconnected>

label-connected = " vpn connected "
label-connected-foreground = ${colors.vpn-connected}
format-connected = <label-connected>

[module/network]
type = internal/network
interface = wlan0
unknown-as-up = true

label-disconnected = " not connected "
label-disconnected-foreground = ${colors.network-disconnected}
format-disconnected = <label-disconnected>

label-connected = "%{F#4f4f4f}%essid%%{F#262626} | %{F#a3be8c}↓%{F#6c6c9c}%downspeed:9%%{F#262626} | %{F#88c0d0}↑%{F#6c6c9c}%upspeed:9%%{F-} "
format-connected = <label-connected>

[module/cpu]
type = internal/cpu
interval = 0.5
label = "  %percentage:2%% "
label-foreground = ${colors.cpu}

[module/memory]
type = internal/memory
interval = 3
warn-percentage = 85
label = " 󰘚 %free% "
label-foreground = ${colors.memory}
label-warn = " 󰍛 %gb_used%/%gb_free% "
format-warn = <label-warn>
format-warn-foreground = ${colors.memory-warn}

[module/filesystem]
type = internal/fs
mount-0 = /
interval = 10
fixed-values = true
spacing = 4
warn-percentage = 75
label-mounted = " 󰉉 %percentage_free%% "
label-mounted-foreground = ${colors.filesystem}
label-warn = " 󰉉 %percentage_free%% "
format-warn = <label-warn>
label-warn-foreground = ${colors.filesystem-warn}

[module/volume]
type = internal/pulseaudio
master-soundcard = default
speaker-soundcard = default
headphone-soundcard = default
label-volume = " 󱄡 %percentage:2%% "
label-volume-foreground = ${colors.volume}

[module/date]
type = internal/date
date = " %a %d %b "
format-foreground = ${colors.date}

[module/time]
type = internal/date
date = " %H:%M "
format-foreground = ${colors.time}

[module/battery]
type = internal/battery
low-at = 10
format-charging = <label-charging>
format-charging-foreground = ${colors.charging}
format-discharging = <label-discharging>
format-discharging-foreground = ${colors.discharging}
format-low = <label-low>
format-low-foreground = ${colors.low}
format-charging-padding = 1
format-discharging-padding = 1
format-low-padding = 1
